force-app/main/default/flows/User_Story_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>setWorkItem</name>
        <label>setWorkItem</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_WorkItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Work__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_WorkItem.agf__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateWorkItem</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Deployed_to_Production</name>
        <label>Deployed to Production?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Deployed_to_Production</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Environment__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Environment__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Production</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Work__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setWorkItem</targetReference>
            </connector>
            <label>Yes, Deployed to Production</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>User Story: Create / Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Story: Create / Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateWorkItem</name>
        <label>updateWorkItem</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputReference>var_WorkItem</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Deployed_to_Production</targetReference>
        </connector>
        <object>copado__User_Story__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_WorkItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>agf__ADM_Work__c</objectType>
    </variables>
</Flow>
